input#user_role_ids_1 {
  margin-left: 10px !important;
}
input#user_role_ids_2 {
  margin-left: 10px !important;
}
input#user_role_ids_3 {
  margin-left: 0px !important;
}
input#user_role_ids_4 {
  margin-left: 10px !important;
}