<h1>Accueil</h1>

<% if user_signed_in? %>
  <%= link_to "logout", destroy_user_session_path, :method => 'delete' %>
<% else %>
  <%= link_to "Login", new_user_session_path, :method => 'get' %>
<% end %>
<hr>
